<div class="weather">
    <div class="header">
        <h3 class="title">Whats the weather today?</h3>
    </div>
    <div class="body">
        <div class="column">
            <h4 class="type">{{ weatherType }}</h4>

            <div class="image-container">
                <img class="image" src="{{weatherImageURL}}" alt="">
            </div>
            <div class="data">
                <p>Temperature: {{ weather?.main?.temp }} °C</p>
                <p>Feels like: {{ weather?.main?.feels_like  }} °C</p>
                <p>Humidity: {{ weather?.main?.humidity }} %</p></div>
            </div>
        
        <div class="column">
            <div>
                <p class="city">{{ weather?.name }}</p>
            </div>
            <form class="form" [formGroup] = "newLocationForm">
                <mat-form-field appearance="outline">
                    <mat-label>City</mat-label>
                    <input formControlName="city" matInput>
                </mat-form-field>
                <div>
                    <button (click)="newPosition()" mat-raised-button [disabled]="newLocationForm.invalid" color="primary">New Positon</button>
                </div>
            </form>
            <div class="current-position">
                <button (click)="currentPosition()" mat-raised-button color="primary">Current Location</button>
            </div>
        </div>
    </div>
</div>
