<div cdkDropListGroup>
    <div class="row">
        <div class="col-md-4" *ngFor="let column of board.columns">
            <div class="example-container">
                <h2 class="head-title">{{ column.name }}<span *ngIf="column.tasks.length > 0"> - {{ column.tasks.length }}</span></h2>
                <div cdkDropList [cdkDropListData]="column.tasks" class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of column.tasks; let i = index" cdkDrag>{{item.description}}
                        <div class="box">
                            <button mat-icon-button color="warn" (click)="deleteTask(column.id, i)"><mat-icon>delete</mat-icon></button>
                            <button mat-icon-button color="primary"><mat-icon>edit</mat-icon></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>