.group-container
	max-width: 1400px
	height: 90%
	box-sizing: border-box
	display: flex

.scrollable-container
	display: flex
	gap: 18px

.table 
	min-width: 300px 
	height: 650px
	display: inline-block 
	vertical-align: top 
	border-radius: 23px
	background: #ebf1ff
	box-shadow:  5px 5px 10px #bec3cf, -5px -5px 10px #ffffff
	padding: 0px
	overflow: hidden

.title
	padding: 18px 18px 0px 18px
	& > h2
		text-align: center
 
.list-container
	height: 600px
	display: flex
	justify-content: center
	overflow: scroll
	&::-webkit-scrollbar
		display: none	
	
.list
	margin: 20px
	width: 100%
	height: auto
	display: block

.card
	width: 100%
	padding: 10px 18px 
	margin-bottom: 18px
	display: flex 
	flex-direction: row 
	align-items: center 
	justify-content: space-between 
	box-sizing: border-box 
	cursor: pointer
	border: none
	border-radius: 17px
	background: #ebf1ff
	box-shadow:  5px 5px 10px #bec3cf, -5px -5px 10px #ffffff

.card-name
	max-width: 60%
	overflow-wrap: break-word
	overflow: hidden

.card-buttons
	width: 40%
	
.cdk-drag-preview 
	box-sizing: border-box 
	border-radius: 17px
	background: #ebf1ff
	box-shadow:  5px 5px 10px #bec3cf, -5px -5px 10px #ffffff
.cdk-drag-placeholder 
	opacity: 40%
.cdk-drag-animating 
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) 
.box 
	display: grid 
	grid-auto-flow: column 
	grid-column-gap: 10px 


